.list-items-filters-p {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.5rem;
}

.list-items-filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.list-items-filters-container-row {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.list-items-filters-container p {
    font-size: 1.1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.list-items-filter-container {
    display: flex;
    margin-top: 0.25rem;
}

.list-items-filter {
    display: inline-block;
    margin: 0.25rem 0.15rem;
}

.list-items-filters-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.list-items-filters-container input {
    background: none;
    height: 1.2rem;
    width: 1.2rem;
    box-shadow: none;
}

.list-items-filter-checkbox {
    margin-left: 0.5rem;
    transform: scale(1.25, 1.25);
}

.list-items-grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    margin-top: 1rem;
}

.list-items-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.list-items-cell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 0.15rem 0.15rem;
    max-width: 75%;
}
/*.list-items-cell-container:hover {*/
    /*background: #e6e6e6;*/
    /*border: 0.15rem solid #4c4c4c;*/
    /*margin: 0;*/
/*}*/

.list-items-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 0.25rem solid #4e4e4e;*/
    margin: 0.5rem 0.5rem;
}

.list-items-cell-hover-label {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 4rem;
    width: 125px;
    text-shadow: 0.1rem 0.1rem 0.15rem black
}

.list-items-cell-hover-label.toggled {
    display: block;
}

/*.list-items-cell p {*/
    /*color: #e6e6e6;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 1rem;*/
    /*text-align: center;*/
/*}*/

.list-items-cell img {
    height: 150px;
    width: 150px;
}

.list-items-cell-price {
    font-weight: bold;
}

.list-items-sizes-container {
    display: flex;
}

.list-items-sizes-cell {
    background: #d1d1d1;
    margin: 0 0.15rem;
    margin-top: 0.15rem;
    padding: 0.15rem;
}

.list-items-cell-container > p {
    color: #373737;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 0.15rem 0;
    text-align: center;
}

.list-items-no-results {
    display: flex;
    justify-content: center;
}

.list-items-no-results p {
    font-size: 1.2rem;
}

