@media only screen and (min-width: 800px) {
    .list-items-size-filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list-items-size-filter-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .list-items-size-filter-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px outset #707070;
        font-size: 1.3rem;
        margin: 0.15rem;
        padding: 0.35rem;
    }

    /*.list-items-size-filter-cell:hover {*/
    /*background: #c8c8c8;*/
    /*}*/

    .list-items-size-filter-cell.toggled {
        background: #3c3c3c;
    }
}



